@font-face {
    font-family: "Poppins";
    src: url('/assets/fonts/Poppins-Regular.ttf');
}

* {
    font-family: Poppins;
    margin: 0; /*  */
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}

.texto_verde {
    color: #20c9ad;
    font-size: 20px;
}

main {
    max-width: 1280px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

.div__direita, .div__esquerda {
    flex: 1;
}

.div__direita {
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emoji__money {
    position: relative;
    right: 14rem;
}

.titulo__esquerdo {
    font-size: 38px;
    font-weight: bold;
}

#texto__verde-titulo {
    color: #20c9ad;
}

.subtitulo {
    margin-top: 20px;
    max-width: 300px;
}

.subtitulo span {
    color: gray;
    font-size: 16px;
    font-weight: 600px;
}

.div__carro {
    margin-top: 38px;
    background: url('assets/car.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
}

.titulo__direito span {
    color: gray;
    font-size: 20px;
}

.div__formulario {
    width: 70%;
    margin-top: 20px;
}

.inputs {
    width: 60%;
    border: 1px solid #20c9ad;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.4rem;
    outline: none;
}

.inputs:focus {
    border: 1px solid red;
}

#botao__simular {
    width: 60%;
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: #20c9ad;
    border: none;
    border-radius: 8px;
}

#botao__simular:hover {
    background-color: #15927d;
    cursor: pointer;
}

.main__secundaria {
    max-width: 1280px;
    margin: auto;
    margin-top: 50px;
    display: flex;
}

.div__direita-baixo, .div__esquerda-baixo {
    flex: 1;
}

.banner {
    margin-top: 38px;
    background: url('assets/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
}

.div__direita-baixo {
    display: flex;
    flex-direction: column;
    align-items: center;
}